@charset "utf-8";
/* =General
--------------------------------------------------------------------------------------------------------*/

* {  margin: 0; padding: 0; outline:0; font-size: 100%; vertical-align: baseline; background: transparent;}
h1, h2, h3, h4, h5, h6, p, pre, blockquote, form, fieldset, table, ul { margin: 0; }
.clear {clear: both;font-size:0; line-height:0; display:block; float: none !important;}
.hidden{display: none;}
img {border: 0;}
ol,ul,nav {	list-style:none;}
:focus {outline: 0;}

html{  height:100%; }

aside, nav, footer, header, section { display: block }

.wrap { 
	width:940px;
	margin:0 auto;
}

#mainarea { padding-top:60px; min-width:940px; }

/* End General
--------------------------------------------------------------------------------------------------------*/

/* =Typography
--------------------------------------------------------------------------------------------------------*/

body { 
	
	font-family:Arial,Tahoma, Geneva, sans-serif; font-size:100.01%;width:100%;min-height:100%; background:#f0f0f0;


	-webkit-font-smoothing: subpixel-antialiased !important;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
}


@font-face {
				font-family: 'DINPro-Black';
				src: url('dinproblackregular.eot');
				src: url('dinproblackregular.eot?#iefix') format('embedded-opentype'),
						 url('dinproblackregular.woff') format('woff'),
						 url('dinproblackregular.ttf') format('truetype'),
						 url('dinproblackregular.svg#dinproblackregular') format('svg');
				font-weight: normal;
				font-style: normal;
}


@font-face {
				font-family: 'DINPro-Medium';
				src: url('dinpromediumregular.eot');
				src: url('dinpromediumregular.eot?#iefix') format('embedded-opentype'),
						 url('dinpromediumregular.woff') format('woff'),
						 url('dinpromediumregular.ttf') format('truetype'),
						 url('dinpromediumregular.svg#dinpromediumregular') format('svg');
				font-weight: normal;
				font-style: normal;
}

@font-face {
				font-family: 'DINPro-Bold';
				src: url('dinproboldregular.eot');
				src: url('dinproboldregular.eot?#iefix') format('embedded-opentype'),
						 url('dinproboldregular.woff') format('woff'),
						 url('dinproboldregular.ttf') format('truetype'),
						 url('dinproboldregular.svg#dinproboldregular') format('svg');
				font-weight: normal;
				font-style: normal;
}

@font-face {
				font-family: 'DINPro-Light';
				src: url('dinprolightregular.eot');
				src: url('dinprolightregular.eot?#iefix') format('embedded-opentype'),
						 url('dinprolightregular.woff') format('woff'),
						 url('dinprolightregular.ttf') format('truetype'),
						 url('dinprolightregular.svg#dinprolightregular') format('svg');
				font-weight: normal;
				font-style: normal;
}

/* End Fonts
--------------------------------------------------------------------------------------------------------*/

/* =Top panel
--------------------------------------------------------------------------------------------------------*/
#top_panel {
	/*background:url(../img/top-panel-bg.png) repeat-x;*/
	background: #2a333b;
	width:100%;
	/*height:50px;*/
	position:fixed;
	z-index:10;
	top:0;
	left:0;
	
	/*-webkit-box-shadow: 0px 2px 2px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 2px 2px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 2px 2px rgba(50, 50, 50, 0.75);*/
}

#logo {
	width:129px;
	height:18px;
	display:block;	
}

#top_panel #logo {
	margin:16px 0 0 0;
	float:left;	
}


#main_nav {
	font-family: 'DINPro-Black';
	font-size:11px;
	text-transform:uppercase;
	margin:18px 0 0 27px;
	float:left;
}

#main_nav li {
	float:left;
	margin-left:18px;
}

#main_nav li:first-child {
	margin-left:0;	
}

#main_nav li a {
	color:#fffefe;
	text-decoration:none;	
}

#main_nav li a.pro {
	color:#ed145b;	
}

#language {
	float:left;
	position:relative;
	height:36px;
	padding:14px 0 0 59px;
	z-index: 5;
}

#language > li:first-child > a {
	font-family: 'DINPro-Bold';
	font-size:11px;
	color:#ffffff;
	text-decoration:none;
	text-transform:uppercase;
	background:url(../ico/white-arrow-bottom.png) right no-repeat;
	padding-right:18px;
}

#language:hover .dropdown-menu {
	display:block;
	top:48px;
	left:40px;	
}


#user_panel {
	float:right;
	margin:13px 4px 0 0;
	position:relative;
	z-index: 5;
}

#user_panel > a {
	font-family: 'DINPro-Bold';
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
	font-size:11px;
	display:inline-block;
	height:17px;
	line-height:17px;
	margin-left:22px;
}

#user_panel > a:first-child {
	margin-left:0;	
}

#user_panel a.register {
	background:url(../ico/reg-ico.png) no-repeat;
	padding-left:27px;
}

#user_panel a.enter {
	background:url(../ico/enter-ico.png) no-repeat;
	padding-left:28px;
}

#user_panel.auth-ok {
	margin-top:10px;	
}

#user_panel .logged {
	position:relative;
}

#user_panel .logged .pro {
	width:20px;
	height:10px;
	background:url(../ico/pro.jpg);
	position:absolute;
	bottom:-2px;
	left:-2px;	
}

#user_panel .logged >  a {
	text-decoration:none;
	font-family: 'DINPro-Bold';
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
	font-size:11px;
}

#user_panel .logged .ava {
	float:left;	
}

#user_panel .logged .txt {
	display:inline-block;
	padding-right:14px;
	margin-top:8px;
	margin-left:10px;
	float:left;
	background:url(../ico/white-arrow-bottom.png) right no-repeat;	
}

#user_panel .logged .msg_cnt {
	display:block;
	width:15px;
	height:15px;
	border-radius:7px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	background:#60c9bb;
	position:absolute;
	top:7px;
	right:-25px;
	font-family:'Arial';
	font-weight:bold;
	color:#fff;
	text-align:center;
	line-height:15px;
}

#user_panel.auth-ok:hover .dropdown-menu {
	display:block;
}

#user_panel.auth-ok .dropdown-menu {
	top:38px;	
}

.dropdown-menu { 
	min-width:124px;
	background:#2a333b;
	border-top:2px solid #ed145b;
	position:absolute;
	display:none;
}

.dropdown-menu .decor {
	position:absolute;
	top:-9px;
	left:50%;
	margin-left:-6px;
	width:13px;
	height:7px;
	background:url(../ico/red-arrow-top.png);
	border:0;
}

.dropdown-menu li {
	line-height:28px;
	height:29px;
	border-top:1px solid #3b434a;
	width: 100%;
}

.dropdown-menu li:first-child {
	border:0;	
}


.dropdown-menu a {
	font-family: 'DINPro-Medium';
	text-decoration:none;
	color:#ffffff;
	font-size:10px;
	text-transform:uppercase;
	display:block;
	width:100%;
	height:100%;
	padding:0 0 0 20px;

}

.dropdown-menu a .ico {
	float:left;
	margin:9px 10px 0 0;	
}


/* =End Top panel
--------------------------------------------------------------------------------------------------------*/

/* =Info block
--------------------------------------------------------------------------------------------------------*/
#info_block {
	position:relative;
	width:100%;
	overflow:hidden;
	height:258px;
}

#info_block > div {
	position:absolute;
	width:50%;
	height:100%;
	overflow:hidden;
}

#info_block > div.wedding {
	left:0;
	background:#60c9bb;
}

#info_block > div.love {
	right:0;	
	background:#ea3862;
}

#info_block > div > div {
	width:360px;
	color:#fff;	
}

#info_block > div > div h2 {
	font-family: 'DINPro-Light';
	font-size:36px;
	font-weight:normal;
	text-transform:uppercase;
	line-height:40px;
}

#info_block > div > div p {
	font-size:14px;
	line-height:18px;
	padding-right:5px;
	margin:20px 0 0 2px;
}

#info_block > div.wedding div {
	float:right;	
	margin:33px 83px 0 0;
}

#info_block > div.love div {
	float:left;
	margin:33px 0 0 50px;
}
/* =End Info block
--------------------------------------------------------------------------------------------------------*/


/* =Header
--------------------------------------------------------------------------------------------------------*/


/* =End Header
--------------------------------------------------------------------------------------------------------*/


/* =Middle
--------------------------------------------------------------------------------------------------------*/
#popular_video {
	margin-top:16px;
}

#popular_video h2 {
	color:#2a333b;
	text-transform:uppercase;
	font-weight:normal;	
	font-family: 'DINPro-Light';
	font-size:48px;
	float:left;
}

#popular_video .tabs {
	float:left;
	margin:15px 0 0 13px;
}

#popular_video .tabs li {
	float:left;
	position:relative;
}

#popular_video .tabs li > a {
	display:inline-block;
	color:#ea3862;
	text-decoration:none;
	text-transform:uppercase;
	font-size:18px;
	font-family: 'DINPro-Medium';
	padding:0 11px;
	height:34px;
	line-height:34px;
}

#popular_video .tabs li.active > a {
	color:#fff;
	background:#2a333a;	
}

#popular_video .tabs li span {
	display:none;
	width:13px;
	height:7px;
	position:absolute;
	bottom:-7px;
	left:50%;
	margin-left:-6px;
	background:url(../ico/grey-arrow-bottom.png) no-repeat;
}

#popular_video .tabs li.active span {
	display:block;	
}

#popular_video .v-block {
	width:960px;
	height:540px;
	margin:20px 0 0 -5px;
	position:relative;
}

#popular_video .v-block .shadow {
	width:952px;
	height:47px;
	position:absolute;
	left:4px;
	bottom:-43px;
	background:url(../img/video-block-shadow.png) no-repeat;	
}

#popular_video .v-block .video {
	position:relative;	
}

#popular_video .video-preview-list {
	overflow:hidden;
	width:100%;
	position:relative;
	padding-top:9px;
	margin-top:14px;	
}


#popular_video .video-preview-list ul {
	width:9999px;	
}

#popular_video .video-preview-list ul li {
	float:left;
	width:300px;
	height:202px;
	margin:0 10px;
	background:#fff;
	position:relative;
}

#popular_video .video-preview-list ul li:first-child {
	margin-left:0;	
}

#popular_video .video-preview-list h4 {
	font-size:12px;
	color:#2a333a;
	float:left;
	margin:3px 0 0 9px;	
}

#popular_video .video-preview-list .author{
	font-size:12px;
	color:#7e8992;
	float:right;
	margin:3px 10px 0 0;	
}

#popular_video .video-preview-list ul li.active {
	background:#2a333a;	
}

#popular_video .video-preview-list ul li.active h4 {
	color:#fff;
}

#popular_video .video-preview-list ul li.active .author {
	color:#7e8992;
}


#popular_video .video-preview-list ul li .border {
	display:none;
	position:absolute;
	top:-9px;
	left:0;
	width:300px;
	height:182px;
	background:url(../img/video-block-border-active.png) no-repeat;	
}

#popular_video .video-preview-list ul li.active .border {
	display:block;	
}

#popular_videograf {
	padding-top:1px;
	margin-top:20px;
	background:#fff;	
}

#popular_videograf h2 {
	font-family: 'DINPro-Light';
	border-bottom:2px solid #2a333a;
	position:relative;
	margin:-16px 30px 0 30px;
	font-weight:normal;
	font-size:48px;
	color:#2a333a;
	text-transform:uppercase;
	text-align:center;
}

#popular_videograf h2 span {
	display:inline-block;
	background:#fff;
	position:relative;
	top:28px;
	left:0;
	padding:0 20px;
}

#popular_videograf .slider {
	margin:47px 0 0 25px;	
}

#popular_videograf .slider a.prev, #popular_videograf .slider a.next{
	top:53px;
}

#popular_videograf .slider a.prev, #popular_videograf .slider a.next, .slider_style a.prev, .slider_style a.next {
	width:17px;
	height:30px;
	background:url(../img/slider-ctrls.png) no-repeat;	
}

#popular_videograf .slider a.prev {
	left:-53px;	
}

#popular_videograf .slider a.next, .slider_style a.next{
	background-position:right;
}
#popular_videograf .slider a.next {
	right:-28px;	
}

#popular_videograf .slider li {
	margin-left:10px;
	padding-bottom:15px;
}

#popular_videograf .slider li:first-child {
	margin-left:0;	
}

#popular_videograf .author {
	color:#2a333a;
	font-size:12px;
	font-weight:bold;	
}

#popular_videograf .region {
	color:#7e8992;
	font-size:12px;	
}

#popular_videograf .prepayed_videograf {
	background:#60c9bb;
	padding:10px 25px 0 25px;
}

#popular_videograf .prepayed_videograf h3 {
	font-family: 'DINPro-Medium';
	text-align:center;
	font-size:18px;
	color:#fff;
	font-weight:normal;
	text-transform:uppercase;	
}


#popular_videograf .prepayed_videograf ul {
	overflow:hidden;
	margin-top:18px;
}


#popular_videograf .prepayed_videograf ul li {
	margin-left:10px;
	padding-bottom:15px;
	float:left;
}

#popular_videograf .prepayed_videograf ul li:first-child {
	margin-left:0;	
}

#popular_videograf .prepayed_videograf .author {
	color:#fff;
	font-size:12px;
	font-weight:bold;	
}

#popular_videograf .prepayed_videograf .region {
	color:#cbeee9;
	font-size:12px;	
}


#battle_today {
	background:#2a333a;
	width:100%;
	overflow:hidden;
	height:382px;
	padding-top:1px;
	margin-top:22px;
	position:relative;
}

#battle_today h2 {
	float:left;
	text-transform:uppercase;
	font-size:48px;
	font-weight:normal;
	color:#fff;	
	font-family: 'DINPro-Light';
	margin:13px 0 0 0;
}

#battle_today a.full_link {
	display:inline-block;
	float:right;
	text-decoration:none;
	text-transform:uppercase;
	font-size:11px;
	color:#ea3862;	
	font-family: 'DINPro-Bold';
	margin-top:53px;
}

#battle_today ul {
	width:9999px;
	margin-top:19px;
}

#battle_today ul li {
	float:left;
	margin-left:60px;
	width:940px;
	position:relative;
}

#battle_today ul li:first-child {
	margin-left:0;	
}

#battle_today ul li a {
	text-decoration:none;	
}

#battle_today ul li a img {
	float:right;
}

#battle_today ul li a img:first-child {
	float:none;
}

#battle_today ul li a .vs {
	width:122px;
	height:383px;
	position:absolute;
	bottom:-26px;
	left:418px;
	background:url(../img/vs.png) no-repeat;
}


.short_news {
	margin-top:24px;
}


.short_news .tabs {
	float:left;
}

.short_news .tabs a {
	display:inline-block;
	color:#ea3862;
	text-decoration:none;
	text-transform:uppercase;
	font-size:12px;
	font-family: 'DINPro-Medium';
	padding:0 10px;
	height:23px;
	line-height:23px;
}

.short_news .tabs a.active {
	color:#fff;
	background:#2a333a;	
}

.short_news > a.full_link {
	display:inline-block;
	float:right;
	margin:9px 0 0 0;
	font-size:11px;
	color:#ea3862;
	text-decoration:none;
}

.short_news .list {
	margin-top:20px;
	position:relative;
	min-height:140px;
	overflow:hidden;	
}

.short_news .list ul {
	display:none;
}

.short_news .list ul.active {
	display:block;	
}

.short_news .list ul li {
	width:220px;
	float:left;
	margin-left:20px;	
}

.short_news .list ul li:first-child {
	margin-left:0;	
}

.short_news .list .date {
	font-size:11px;
	color:#7e8992;	
}

.short_news .list h4 {
	line-height:16px;
	margin:8px 0 6px 0;	
}

.short_news .list h4 a {
	color:#ea3862;
	font-size:12px;
	text-decoration:none;
}

.short_news .list p {
	color:#2a333a;
	font-size:12px;	
}


#middle > h1, .big_title {
	font-family: 'DINPro-Medium';
	font-size:24px;
	text-transform:uppercase;
	font-weight:normal;
	color:#2a333b;
}

#middle > h1{
	margin:12px auto 14px;
}

/* start adding_video */

.adding_video {
	background:#fff;
	padding:14px 20px 20px;
	min-height:360px;
}

.adding_video .tabs-list {
	
}

.adding_video .nmbr_sbmt {
	text-align:center;	
}

.adding_video .nmbr_sbmt h4 {
	font-weight:normal;
	font-size:18px;
	color:#2a333b;
	margin-top:72px;
}

.adding_video .nmbr_sbmt .ur_nmb {
	font-size:12px;
	color:#2a333b;	
}

.adding_video .nmbr_sbmt .ur_nmb strong {
	font-size:14px;
	display:inline-block;
	margin-left:5px;
}

.adding_video .nmbr_sbmt a.reset {
	display:inline-block;
	text-decoration:none;
	font-size:12px;
	color:#ea3862;
	margin-left:10px;	
}

.adding_video .number {
	margin-top:33px;	
}

.adding_video .nmbr_sbmt .submit, .submit_btn {
	display:inline-block;
	font-family: 'DINPro-Medium';
	font-size:12px;
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
	padding:0 9px;
	line-height:28px;
	height:28px;
	background:#2a333a;
	margin:20px 0;
}
.submit_btn{
	margin-bottom: 0;
}
/* end adding_video */


/*start page addvideo_from_me_0*/

.adding_video .add_data{
	margin-top: 14px;
}

.data_plus{
	font-family: 'DINPro-Medium';
	font-size: 18px;
	color: #7e8992;
	margin: 0 0 0 21px;
}

.data{
	margin-left: -14px;
	display: inline-block;
}
.data > span{
	display: inline-block;
	margin-left: 14px;
	text-align: left;
}
.data .name{
	font-size: 12px;
	color: #7e8992;
	margin: 0 0 7px 0;
	display: block;
}
.data input[type="text"]{
	width: 33px;
}
.data input[type="text"]:focus{
	-webkit-box-shadow: 0 0 0 2px #ea3862;
	-moz-box-shadow: 0 0 0 2px #ea3862;
	-ms-box-shadow: 0 0 0 2px #ea3862;
	box-shadow: 0 0 0 2px #ea3862;
}
.data input[type="text"].phone_inp{
	width: 103px;
}

.adding_video .nmbr_sbmt a.res_ind{
	margin: 20px 0 19px 0;
}

/*end page addvideo_from_me_0*/

/*start page addvideo_from_me_1*/

.adding_video .drug_video h4{
	margin-top: 121px;
}
.adding_video .drug_video .submit{
	margin: 2px 0 0;
}

/*end page addvideo_from_me_1*/

/*start page addvideo_from_me_2*/

.info_text{
	margin-top: 27px;
	font-size: 12px;
	color: #2a333b;
}
.info_text a{
	color: #ea3862;
	text-decoration: none;
}

.video_load{
	margin: 27px 0 0;
	font-size: 12px;
}
.video_load li{
	overflow: hidden;
}
.video_load li:first-child .decor_box{
	border-top: 1px solid #f0f0f0;
}
.video_load .decor_box{
	float: left;
	padding: 8px 0 6px;
	width: 220px;
	color: #2a333b;
	border-bottom: 1px solid #f0f0f0;
}

.video_load .vid_close{
	margin: 0 0 0 20px;
}

.vid_close{
	display: inline-block;
	height: 8px;
	width: 8px;
	background: url(../img/img_sprite.png) no-repeat;
}

.vid_status{
	float: left;
	margin: 9px 0 0 20px;
	color: #60c9bb;
}

.video_load .none .decor_box, .video_load .none .vid_status{
	color: #7e8992;
}

.add_file{
	display: inline-block;
	font-size: 12px;
	color: #ea3862;
	margin: 17px 0 0;
	text-decoration: none;
}

/*end page addvideo_from_me_2*/

/*start page addvideo_from_me_3*/

.progress_box{
	background: #60c9bb;
	height: 41px;
	color: #fff;
	font-size: 18px;
	position: relative;
	z-index: 9;
	margin: 6px 0 24px;
	padding: 19px 19px 0;
}
.progress_box > *{
	position: relative;
	z-index: 8;
}
.progress_box > .progress_line{
	z-index: 3;
}
.progress_line{
	height: 60px;
	background: #ea3862;
	width: 50%;
	position: absolute;
	top: 0;
	left: 0;
}

.progress_box .name{
	float: left;
	width: 360px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin: 0 20px 0 0;
}
.progress_box .link{
	float: right;
	font-size: 12px;
	color: #fff;
	text-decoration: none;
	margin: 7px 0 0;
}
.progress_box .done{
	float: left;
}

.tabs-type2.small a{
	font-size: 12px;
	padding-bottom: 9px;
}

/*video_settings*/
.video_settings{
	margin: 22px 0 0 -21px;
	font-size: 12px;
}
.video_settings > div > div{
	float: left;
	margin-left: 22px;
}
.video_settings input[type="text"]{
	width: 288px;
}
.video_settings textarea{
	width: 292px;
	height: 102px;
}

.video_settings .tags_list{
	width: 155px;
}

.tags_list{
	margin: 7px 0 0;
	font-size: 12px;
	color: #2a333b;
}
.tags_list li{
	margin: 3px 0 0;
}
.tags_list .close_t{
	margin: 0 0 0 3px;
	position: relative;
	top: -1px;
	*top: -4px;
}
.chk_one{
	display: inline-block;
	margin: 4px 0 0;
}

.radio_list{
	margin: 5px 0 0 21px;
}
.radio_list li{
	margin: 5px 0 0;
}

.video_settings .submit_btn{
	margin: 30px 0 0 22px;
}

.vid_indent{
	margin-top: 20px;
}

.convert{
	float: right;
}

/*vid_radio*/
.vid_radio{
	margin: 27px 0 0 0;
	font-size: 12px;
	overflow: hidden;
}
.vid_radio li{
	margin-right: 36px;
	float: left;
}
.vid_radio input[type="radio"]{
	top: 1px;
}


.video_tab{
	margin: 18px 0 0;
}

/*inp_file_wrp*/
.inp_wrp_box{
	font-size: 12px;
	color: #ea3862;
	margin: 14px 0 0;
}
.inp_wrp_box .size{
	color: #7e8992;
	float: left;
}
.inp_file_wrp{
	position: relative;
	overflow: hidden;
	float: left;
	margin-right: 2px;
}
.inp_file_wrp input[type="file"]{
	position: absolute;
	top: 0;
	left: -400px;
	*left: -410px;
	font-size: 36px;
	cursor: pointer;
	opacity: 0;
	filter:alpha(opacity="0");
}

.v_t_sumbit{
	margin: 25px 0 0;
}

/*vid_slider*/
.vid_slider{
	margin: 0 19px;
	/*zoom: 1;*/
}
.vid_slider li{
	margin-left: 19px;
}
.vid_slider .time{
	font-size: 11px;
	color: #7e8992;
	text-align: center;
	margin: 8px 0 0;
}

.video_tab li{
	zoom: 1;
}

.vid_slider .prev, .vid_slider .next{
	top: 28px;
}

.vid_slider .prev{
	left: -18px;
}
.vid_slider .next{
	right: -18px;
}

.vid_slider li:hover .border{
	display: block;
}
.vid_slider li > a{
	position: relative;
	display: block;
}
.vid_slider li > a img{
	vertical-align: middle;
}
.vid_slider .border{
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	height: 82px;
	width: 146px;
	border: 2px solid #ea3862;
}

.v_sl_sumbit{
	margin: 123px 0 0;
}

/*progress_box_hard*/
.progress_box_hard{
	background: url(../img/progress_box_hard.jpg);
	color: #2a333a;
}

.progress_line_wrap{
	position: absolute;
	top: 0;
	left: 0;
	height: 60px;
	color: #fff;
	width: 90%;
	background: #60c9bb;
	z-index: 9;
	overflow: hidden;
}
.progress_line_wrap.w_0{
	width: 0;
}

.progress_line_wrap .name{
	position: absolute;
	margin: 0;
	top: 19px;
	left: 19px;
	float: none;
}

.progress_line_wrap .convert{
	position: absolute;
	margin: 0;
	top: 19px;
	left: 631px;
	float: none;
	white-space: nowrap;
	text-align: right;
	width: 250px;
}

.submit_btn.close{
	background: url(../img/img_sprite.png) no-repeat right 10px #ea3862;
	padding: 0 28px 0 9px;
}

.video_settings .submit_btn.close{
	margin-left: 0;
}

/*end page addvideo_from_me_3*/


/* start profile */
#profile {
	background:#fff;
	margin-top:-10px;
	padding:20px 10px 0 10px;
	position:relative;
}

#profile .avatar {
	width:100px;
	height:100px;
	overflow:hidden;
	float:left;
	margin-right:18px;
}

#profile .usr_panel {
	float:left;
	width:800px;
}

#profile .usr_panel h2 {
	font-size:30px;
	font-weight:normal;
	color:#2a333b;
	line-height:30px;
}

#profile .usr_panel h2 .pro {
	font-size:11px;
	color:#ea3862;
	text-transform:uppercase;
	font-family:'DINPro-Bold';
	position:relative;
	top:-13px;
	left:0;
}

#profile .tabs-type2 {
	margin-top:27px;	
}

#profile .tabs-type1 {
	margin-top:18px;	
}

#profile #add_video_link {
	display:block;
	font-family:'DINPro-Medium';
	text-transform:uppercase;
	font-size:12px;
	color:#fff;
	height:28px;
	line-height:28px;
	padding:0 9px;
	background:#2a333a;
	text-decoration:none;
	position:absolute;
	top:19px;
	right:10px;	
}

#profile .rating {
	position:absolute;
	top:65px;
	right:10px;
	font-size:36px;
	font-family:'DINPro-Light';
	color:#2a333a;
	background:url(../ico/rating-big.png) left no-repeat;
	padding-left:43px;	
}

#videograph {
	overflow:hidden;
	margin-top:20px;
}

#videograph ul {
	overflow:hidden;
	margin-right:-20px;	
}

#videograph ul li {
	float:left;
	width:290px;
	height:172px;
	background:#fff;
	margin-right:20px;
	margin-bottom:20px;
	padding:10px 0 0 10px;
}

#videograph ul li:hover {
	border:3px solid #ea3862;
	width:287px;
	height:169px;
	padding:7px 0 0 7px;
}

#videograph ul li .ava {
	width:100px;
	height:100px;
	overflow:hidden;
	float:left;
	margin-right:9px;
}

#videograph ul li .info {
	width:175px;
	float:left;
	position:relative;
}

#videograph ul li .info .pro {
	text-transform:uppercase;
	font-size:11px;
	color:#ea3862;
	line-height:11px;
	font-family:'DINPro-Bold';	
}

#videograph ul li .info h3 {
	font-weight:normal;
	color:#2a333b;
	font-size:18px;
	line-height:20px;
	margin-top:6px;
}

#videograph ul li .info .city {
	font-size:12px;
	line-height:12px;
	color:#7e8992;
	margin-top:5px;	
}

#videograph ul li .info .rating {
	position:absolute;
	top:79px;
	left:0;
	background:url(../ico/rating-small.png) left no-repeat;
	height:20px;
	font-size:20px;
	color:#2a333a;
	font-family:'DINPro-Light';
	padding-left:29px;
}

#videograph ul li .remove {
	display:inline-block;
	margin-top:7px;
	text-decoration:none;
	color:#ea3862;
	font-size:11px;	
}

#videograph ul li .remove img {
	position:relative;
	top:2px;
	left:0;
	margin-right:3px;
}

#videograph ul li .snd_msg {
	display:none;
	font-family:'DINPro-Medium';
	text-transform:uppercase;
	font-size:12px;
	color:#fff;
	height:28px;
	line-height:28px;
	padding:0 9px;
	background:#2a333a;
	text-decoration:none;
	margin-top:7px;
}

#videograph ul li:hover .snd_msg {
	display:inline-block;	
}

#tubes {
	margin-top:20px;
	overflow:hidden;
}

#tubes ul {
	overflow:hidden;
	margin-right:-20px;
}

#tubes ul li {
	width:300px;
	height:202px;
	float:left;
	margin-right:20px;
	margin-bottom:20px;
	background:#fff;
}

#tubes ul li:hover {
	background:#2a333b;	
}

#tubes ul li a:first-child {
	width:300px;
	height:172px;
	display:block;
	overflow:hidden;
	text-align:center;
	position:relative;
}

#tubes ul li a:first-child img {
	width:300px;
	height:172px;
	position:absolute;
	left:50%;
	margin-left:-150px;	
}

#tubes ul li:hover a:first-child {
	border:3px solid #ea3862;
	width:294px;
	height:166px;	
}

#tubes ul li h4 {
	font-size: 12px;
	color: #2a333a;
	margin:7px 0 0 9px;
}

#tubes ul li .author, #tubes ul li .remove {
	display:none;	
}

#tubes ul li:hover h4 {
	display:none;	
}

#tubes ul li:hover .author {
	display:block;	
}

#tubes ul li:hover .remove {
	display:inline-block;	
}

#tubes ul li .author {
	font-size:12px;
	font-weight:bold;
	color:#fff;
	overflow:hidden;
	margin:6px 0 0 5px;
	float:left;
}

#tubes ul li .author img {
	float:left;	
}

#tubes ul li .author span {
	float:left;
	margin-left:5px;
}

#tubes ul li .remove {
	float:right;
	text-decoration:none;
	font-size:11px;
	color:#ea3862;
	margin:6px 10px 0 0;	
}

/* messages */
.messages {
	margin-top:28px;
}

.messages .filter {
	font-size:12px;	
}

.messages .filter a {
	color:#ea3862;
	text-decoration:none;
	display:inline-block;
	margin-right:3px;	
}

.messages .filter a.active {
	color:#2a333b;	
}

.messages .usr_msg_list {
	width:740px;
	margin-top:20px;
}

.messages .usr_msg_list tbody td {
	width:50px;
	text-align:center;
	vertical-align:middle;
	font-size:12px;
	color:#2a333b;
	padding:10px 0;
	border-top:1px solid #f0f0f0;	
}

.messages .usr_msg_list tbody td+td {
	width:150px;
	text-align:left;	
}

.messages .usr_msg_list tbody td+td+td {
	width:415px;
	color:#ed145b;	
}

.messages .usr_msg_list tbody td+td+td+td {
	width:85px;
	color:#7e8992;	
}

.messages .usr_msg_list tbody td+td+td+td+td {
	width:40px;
	text-align:center;	
}

.messages .usr_msg_list tbody .checked {
	background:#f0f0f0;
}

.messages .usr_msg_list .delete {
	font-family:'DINPro-Medium';
	text-transform:uppercase;
	font-size:12px;
	color:#fff;
	height:28px;
	line-height:28px;
	padding:0 9px;
	background:#2a333a;
	text-decoration:none;
	display:inline-block;
}

.messages .usr_msg_list tfoot tr td {
	text-align:right;
	padding:20px 0;	
}

.messages .back {
	display:inline-block;
	font-size:12px;
	color:#ea3862;
	text-decoration:none;
	background:url(../ico/back.png) left no-repeat;
	padding-left:24px;
	position:relative;
	top:-10px;
	left:0;
}

.messages > h3 {
	font-size:18px;
	color:#2a333b;
	margin-top:8px;
	font-weight:normal;	
}

.messages > h3 a {
	text-decoration:none;
	color:#ea3862;	
}

.messages .send_msg {
	margin-top:22px;	
}

.messages .send_msg textarea {
	width:742px;
	height:77px;	
}

.messages .send_msg .sbmt {
	font-family:'DINPro-Medium';
	text-transform:uppercase;
	font-size:12px;
	color:#fff;
	height:28px;
	line-height:28px;
	padding:0 9px;
	background:#2a333a;
	text-decoration:none;
	display:inline-block;
	margin-top:10px;
}

.messages .msg_wall {
	margin:20px 0 0 -10px;
	width:760px;	
}

.messages .msg_wall li {
	padding:11px 0 17px 10px;
	border-bottom:1px solid #f0f0f0;
	overflow:hidden;
	position:relative;
}

.messages .msg_wall li.not_read {
	border-color:#fff;
	background:#f0f0f0;	
}

.messages .msg_wall .ava {
	width:30px;
	height:30px;
	overflow:hidden;
	float:left;
	margin-right:10px;	
}

.messages .msg_wall .msg {
	width:585px;
	float:left;	
}

.messages .msg_wall .msg h4 {
	color:#2a333b;
	font-size:12px;
	margin-top:8px;
}

.messages .msg_wall .msg h4 .pro {
	color:#ed145b;
	font-size:8px;
	text-transform:uppercase;
	position:relative;
	top:-10px;
	left:0;
}

.messages .msg_wall .msg p {
	color:#2a333b;
	font-size:12px;
	line-height:18px;
	margin-top:7px;	
}

.messages .msg_wall .msg_date {
	font-size:11px;
	color:#7e8992;
	position:absolute;
	top:17px;
	right:11px;
}

.messages .msg_wall .msg_date span {
	display:inline-block;
	margin-right:14px;	
}

.messages .more {
	display:inline-block;
	font-size:12px;
	color:#ea3862;
	margin:15px 0 20px -10px;	
}


.verify {
	border:2px solid #60c9bb;
	padding:18px 20px 0 20px;
	margin-bottom:20px;
}

.verify h4 {
	font-weight:normal;
	font-size:18px;
	color:#2a333b;	
}

.verify p {
	font-size:12px;
	color:#2a333b;
	line-height:16px;
	margin-top:25px;
}

.verify ul {
	margin:20px 0 20px 55px;
	overflow:hidden;	
}

.verify ul li {
	float:left;
	text-align:center;
	min-height:30px;
	background:url(../ico/step.png) left no-repeat;
}

.verify ul li div {
	font-size:14px;
	color:#2a333b;
	font-weight:bold;	
}

.verify ul li.step1 {
	background:none;
	margin-right:87px;
}

.verify ul li.step2 div {
	margin:6px 77px 0 91px;
}

.verify ul li.step3 a {
	font-family:'DINPro-Medium';
	text-transform:uppercase;
	font-size:12px;
	color:#fff;
	height:28px;
	line-height:28px;
	padding:0 9px;
	background:#2a333a;
	text-decoration:none;
	display:inline-block;
	margin:1px 0 0 87px;
}

.verify ul li a {
	color:#ed145b;
	text-decoration:none;
}

/* payment */
.payment {
	margin-top:35px;	
}

.payment > h3 {
	font-weight:normal;
	font-size:13px;
	color:#2a333b;
	text-transform:uppercase;	
	font-family:'DINPro-Medium';
}

.payment .services_list {
	width:750px;
	margin:17px 0 55px 0;
	border-top:1px solid #f0f0f0;
}

.payment .services_list tr td {
	width:470px;
	vertical-align:middle;
	font-size:14px;
	color:#ea3862;
	font-weight:bold;
	padding:11px 0 10px 10px;
	border-bottom:1px solid #f0f0f0;
}

.payment .services_list tr td .hint {
	color:#60c9bb;
	font-size:12px;
	font-weight:normal;
	display:inline-block;
	margin-left:10px;	
}

.payment .services_list tr td+td {
	color:#7e8992;
	width:152px;
	text-align:right;
	padding-right:8px;
	padding-left:0;	
}

.payment .services_list tr td+td+td {
	width:110px;
	text-align:center;	
}

.payment .services_list tr td .btn {
	font-family:'DINPro-Medium';
	text-transform:uppercase;
	font-size:12px;
	color:#fff;
	height:28px;
	line-height:28px;
	background:#60c9bb;
	text-decoration:none;
	width:81px;
	text-align:center;
	font-weight:normal;
	display:inline-block;
}

.payment .services_list tr.expiring {
	background:#f0f0f0;	
}

.payment .services_list tr.expiring td .btn {
	background:#2a333a;	
}


.payment .history {
	font-size:12px;
	color:#2a333b;
	width:750px;
	border-top:1px solid #f0f0f0;
	margin:17px 0 20px 0;
}

.payment .history tr td {
	vertical-align:middle;
	padding:9px 0 8px 0;
	width:245px;
	border-bottom:1px solid #f0f0f0;
}

.payment .history tr td+td {
	width:134px;	
}

.payment .history tr td+td+td {
	width:151px;	
}

.payment .history tr td span {
	display:inline-block;
	margin-left:15px;	
}



.payment .history tr td+td+td+td {
	width:130px;	
}

.payment .history tr td+td+td+td+td {
	text-align:right;
	width:90px;
	color:#7e8992;	
}



.payment .back {
	display:inline-block;
	font-size:12px;
	color:#ea3862;
	text-decoration:none;
	background:url(../ico/back.png) left no-repeat;
	padding-left:24px;
	position:relative;
	top:-17px;
	left:0;
}

.payment .order {
	background:#f0f0f0;
	padding:19px 20px 20px 20px;
	position:relative;
	margin-bottom:20px;	
}

.payment .order a {
	text-decoration:none;
	color:#ea3862;
	font-size:12px;	
}

.payment .order h3 {
	font-size:18px;
	color:#2a333a;
	font-weight:normal;	
}

.payment .order p {
	margin:12px 0;
	font-size:12px;
	color:#2a333a;
	line-height:18px;
}

.payment .order .current {
	position:absolute;
	top:54px;
	right:50px;
	font-size:12px;
	color:#7e8992;	
}

.payment .order form {
	border-top:1px solid #fff;
	margin-top:38px;
	padding-top:18px;
}

.payment .order form h4 {
	font-size:14px;
	color:#2a333a;
	margin-bottom:16px;	
}

.payment .order form select {
	width:120px;
	float:left;
	margin-right:19px;
}

.payment .order form .price {
	float:left;
	font-size:12px;
	color:#2a333b;
	margin-top:-5px;	
}

.payment .order form .price strong {
	font-size:30px;
	color:#ed145b;
	font-weight:normal;	
}

.payment .order form .not_enough {
	font-size:12px;
	color:#2a333b;
	float:left;
	margin:10px 0 0 38px;
}

.payment .order form .sbmt {
	color:#fff;
	margin:15px 0 0 0;	
}
/* end profile */

/*start page addvideo_from_other_1*/

.info_text p:first-child{
	margin: 0;
}
.info_text p{
	margin: 3px 0 0;
}

/*vid_res*/
.vid_res{
	margin: 27px 0 0;
	font-size: 12px;
	color: #2a333b;
	width: 704px;
}
.vid_res li{
	padding: 8px 0 13px;
	border-top: 1px solid #F0F0F0;
}
.vid_res .photo{
	float: left;
	margin: 13px 0 0;
}
.vid_res .text{
	float: left;
	width: 600px;
	margin: 5px 0 0 18px;
}
.vid_res .text h3{
	font-size: 12px;
}
.vid_res .text p{
	margin: 3px 0 0;
}
.vid_res .vid_close{
	float: left;
	margin: 17px 0 0 6px;
}
.vid_res .inp{
	border-top-color: #fff;
	background: #f0f0f0;
	padding: 8px 0 18px;
}
.vid_res .inp input[type="text"]{
	float: left;
	width: 626px;
	margin: 10px 11px 0 21px;
}

.vid_submit{
	margin-top: 29px;
}

/*end page addvideo_from_other_1*/

/*start page addvideo_from_other_2*/

.info_text_ind{
	margin-top: -3px;
	margin-bottom: -3px;
}

div.vid_res{
	margin: -2px 0 17px 0;
}

/*end page addvideo_from_other_2*/

/*start page admin_user_billing*/

.top_panel_bd{
	border-top: 1px solid #36404b;
}

#mainarea.hight{
	padding-top: 101px;
}

.big_title_ind{
	margin: 7px 0 0;
}

/*date_form*/
.date_form{
	background: #f0f0f0;
	padding: 21px 20px;
	margin: 20px 0 0;
	font-size: 12px;
	color: #2a333b;
}
.date_form > div > *{
	float: left;
}
.date_form .date_text{
	margin: 5px 0 0;
}
.date_form select{
	margin: 0 -5px 0 8px;
	width: 205px;
}

.date{
	margin: 0px 0 0 21px;
	color: #ea3862;
}
.date img{
	margin: 0 0 0 4px;
	position: relative;
	top: 2px;
}

/*money_list*/
.money_list{
	margin: 19px 0 0;
	font-size: 12px;
	color: #2a333b;
}
.money_list li{
	border-bottom: 1px solid #f0f0f0;
	padding: 7px 0;
	overflow: hidden;
}
.money_list li:first-child{
	border-top: 1px solid #f0f0f0;
}
.money_list > li > *{
	float: left;
}
.money_list .name{
	color: #ea3862;
	width: 317px;
}
.money_list .name span{
	color: #2a333b;
}
.money_list .price{
	width: 233px;
}
.money_list .type{
	width: 241px;
}
.money_list .day{
	width: 79px;
	color: #7e8992;
}
.money_list .time{
	width: 30px;
	color: #7e8992;
}

.schedule{
	margin: 20px 0 0;
}

/*end page admin_user_billing*/

/*start page admin_user_city*/

.city_list{
	margin: 25px 0 0;
	font-size: 12px;
	width: 310px;
}
.city_list dt{
	margin-bottom: 6px;
}
.city_list dt > *{
	float: left;
}
.city_list dt .name{
	font-size: 14px;
	color: #2a333b;
	font-weight: bold;
	margin: 4px 0 0;
}
.city_list dt .submit_btn{
	margin: 0 0 0 20px;
}

.city_list dd{
	color: #7e8992;
	padding: 5px 9px;
	overflow: hidden;
	margin-left: -9px;
}

.city_list dd:hover{
	background: #f0f0f0;
}
.city_list dd:hover .change{
	display: block;
}

.city_list dd a{
	color: #ed145b;
	text-decoration: none;
}
.city_list .name_c a{
	border-bottom: 1px dotted #ed145b;
}
.city_list .change{
	float: right;
	display: none;
}
.city_list .all a{
	color: #2a333b;
	border-bottom: none;
}
.city_list .active .name_c a{
	color: #2a333b;
	border-color: #2a333b;
}
.city_list .active:hover{
	background: transparent;
}
.city_list .active:hover .change{
	display: none;
}

/*end page admin_user_city*/


/* start system */
.system {
	background:#fff;
	padding:25px 20px 20px 20px;	
}

.system #sidebar {
	width:210px;
	float:left;
	margin-top:25px;
}

.system #cnt {
	width:680px;
	float:left;
	margin-left:10px;	
	margin-top:25px;
}

.system #sidebar a, .system #cnt a {
	text-decoration:none;
	color:#ea3862;
	font-size:12px;	
}

.system #sidebar ul li {
	margin-bottom:10px;	
}

.system #sidebar ul li.active a {
	color:#2a333b;	
}

.system #cnt h1 {
	font-size:18px;
	font-weight:normal;
	color:#2a333b;	
}

.system #cnt h2 {
	font-size:14px;
	color:#2a333b;	
}

.system #cnt p {
	font-size:12px;
	line-height:18px;
	color:#2a333b;
	margin:13px 0;
	width:550px;
}

.system .help {
	margin-top:25px;
}

.system .help ul li:first-child {
	border-top:1px solid #f0f0f0;	
}

.system .help ul li {
	border-bottom:1px solid #f0f0f0;
	padding:7px 0 6px 10px;
}

.system .help ul li div {
	display:none;
	font-size:12px;
	color:#2a333b;
	line-height:18px;
	width:600px;
	margin:15px 0 15px 17px;	
}

.system .help ul li.active {
	background:#f0f0f0;	
}

.system #cnt .help ul li.active a {
	font-weight:bold;
	color:#2a333b;	
}

.system .help ul li.active div {
	display:block;
}

/* feedback */
.feedback {
	margin-top:25px;
}

.feedback h2 {
	font-size:18px;
	color:#2a333b;
	font-weight:normal;	
}

.feedback > div {
	background:#f0f0f0;
	margin-top:15px;
	padding:20px;	
}

.feedback label {
	display:block;
	font-size:12px;
	color:#2a333b;
	margin-bottom:10px;
}

.feedback label span {
	display:inline-block;
	float:left;
	width:200px;
	margin-top:3px;	
}

.feedback label input[type="text"] {
	width:288px;	
}

.feedback label select {
	width:300px;	
}

.feedback label textarea {
	width:292px;
	height:100px;
}

.feedback label.captcha {
	margin-top:20px;	
}

.feedback label.captcha span {
	margin-top:50px;	
}

.feedback label.captcha b {
	display:block;
	font-weight:normal;
	float:left;
	width:120px;	
}

.feedback label.captcha input {
	margin-top:4px;
	width:108px;	
}

.feedback .button {
	margin:10px 0 0 200px;	
}


/* questions */
.questions {
	margin-top:25px;
}

.questions h2 {
	font-size:18px;
	color:#2a333b;
	font-weight:normal;	
}

.questions h2 a {
	display:inline-block;
	text-decoration:none;
	padding-right:14px;
	color:#ea3862;
	background:url(../ico/red-arrow-bottom.png) right no-repeat;	
}

.questions ul {
	margin-top:25px;	
}

.questions ul .read {
	display:inline-block;
	color:#ea3862;
	font-size:12px;
	text-decoration:none;
	margin-top:5px;	
}

.questions ul li {
	padding:11px 0 17px 0;
	border-top:1px solid #f0f0f0;
	overflow:hidden;
	position:relative;
}

.questions ul .ava {
	width:30px;
	height:30px;
	overflow:hidden;
	float:left;
	margin-right:10px;	
}

.questions ul .msg {
	width:740px;
	float:left;	
}

.questions ul li .answer {
	position:relative;
	background:#f0f0f0;
	overflow:hidden;
	width:860px;
	padding:10px 0 15px 11px;
	margin:16px 0 0 0;
}

.questions ul li .answer .msg_date {
	right:30px;
}

.questions ul .msg h4 {
	color:#2a333b;
	font-size:12px;
	margin-top:8px;
}

.questions ul .msg h4 .pro {
	color:#ed145b;
	font-size:8px;
	text-transform:uppercase;
	position:relative;
	top:-10px;
	left:0;
}

.questions ul .msg p {
	color:#2a333b;
	font-size:12px;
	line-height:18px;
	margin-top:7px;	
}

.questions ul .msg_date {
	font-size:11px;
	color:#7e8992;
	position:absolute;
	top:17px;
	right:11px;
}

.questions ul .msg_date span {
	display:inline-block;
	margin-right:14px;	
}
/* end system */
/* End Middle
--------------------------------------------------------------------------------------------------------*/

/* =Globals
--------------------------------------------------------------------------------------------------------*/
.slider {
	position:relative;	
}

.slider > div {
	position:relative;
	overflow:hidden;	
}

.slider ul {
	width:9999px;	
}

.slider ul li { 
	float:left;
}

.slider a.prev, .slider a.next {
	position:absolute;
	display:block;	
}

/* tabs-type1 */
.tabs-type1 {
		
}

.tabs-type1 a {
	display:inline-block;
	text-decoration:none;
	font-size:12px;
	color:#ea3862;
	padding-bottom:14px;
	border-bottom:3px solid transparent;
	float:left;
	margin-right:20px;	
}

.tabs-type1 a.active {
	color:#2a333b;
	border-color:#2a333b;	
}


/* tabs-type2 */
.tabs-type2 {
	border-bottom:1px solid #f0f0f0;
	zoom: 1;
}

.tabs-type2 a:first-child {
	margin-left:0;	
}

.tabs-type2 a {
	font-size:13px;
	color:#ea3861;
	font-family: 'DINPro-Medium';
	text-decoration:none;
	height:100%;
	display:block;
	float:left;
	position:relative;
	top:1px;
	left:0;
	padding:0 1px;
	margin:0 0 0 27px;
	text-transform:uppercase;
	border-bottom:3px solid transparent;
}

.tabs-type2 a.active {
	color:#2a333b;
	border-bottom:3px solid #2a333a;
}

.tabs-type2.wide a {
	padding-bottom:16px;	
}

/*top_tabs*/
.top_tabs{
	overflow: hidden;
	margin: 15px 0 0 -6px;
	border: none;
}
.top_tabs a{
	font-family: 'DINPro-Bold';
	font-size: 11px;
	color: #fff;
	margin: 0 0 0 16px;
	padding-bottom: 16px;
}
.top_tabs a.active{
	border-color: #ea3862;
	color: #67717a;
}

/*small_tabs*/
.small_tabs{
	overflow: hidden;
	margin: 20px 0 0;
	border-bottom: none;
}
.small_tabs a{
	font-size: 12px;
	font-family: Arial;
	text-transform: none;
	margin-left: 15px;
	padding-bottom: 7px;
}

.field_name{
	font-family: 'DINPro-Medium';
	font-size: 12px;
	color: #7e8992;
	text-transform: uppercase;
	margin: 0 0 6px 0;
}

.fd_nm_ind{
	margin-top: 16px;
}

input[type="text"], select{
	font-size: 12px;
	color: #2a333b;
	height: 17px;
	padding: 2px 5px;
	background: #fff;
}
select{
	padding: 0;
	height: 25px;
}
input[type="text"].tags{
	width: 145px;
}

input[type="text"], textarea{
	border-width: 1px;
	border-style: solid;
	border-color: #808080 #d4cfc9 #d4cfc9 #808080;
	-webkit-box-shadow: 1px 1px 0 #404040 inset;
	-moz-box-shadow: 1px 1px 0 #404040 inset;
	-ms-box-shadow: 1px 1px 0 #404040 inset;
	box-shadow: 1px 1px 0 #404040 inset;
}

textarea{
	overflow: auto;
	resize: none;
	font-family: Arial;
	padding: 3px;
	font-size: 12px;
	background:#fff;
}

.close_t{
	display: inline-block;
	height: 5px;
	width: 5px;
	background: url(../img/img_sprite.png) no-repeat -54px 0;
}
.chk_label input[type="checkbox"], .chk_label input[type="radio"]{
	margin: 0 8px 0 0;
	position: relative;
	top: 2px;
}

label{
	cursor: pointer;
}

.fl_l{float: left;}
.fl_r{float: right;}


.button {
	font-family:'DINPro-Medium';
	text-transform:uppercase;
	font-size:12px;
	color:#fff;
	height:28px;
	line-height:28px;
	padding:0 9px;
	background:#2a333a;
	text-decoration:none;
	display:inline-block;
}
/* End Globals
--------------------------------------------------------------------------------------------------------*/


/* =Footer
--------------------------------------------------------------------------------------------------------*/
#footer {
	margin-top:20px;
	padding-bottom:20px;
}

#footer .wrap {
	position:relative;	
}

#sub_nav {
	overflow:hidden;
	height:40px;
	background:#2a333a;	
	line-height:36px;
}

#sub_nav li {
	float:left;
	padding:0 26px;
}

#sub_nav a {
	font-size:11px;
	color:#fff;
	text-decoration:none;	
}

.copyright {
	font-size:11px;
	color:#2a333a;
	line-height:18px;
	margin-top:15px;
}

.copyright a {
	color:#ea3862;
	text-decoration:none;	
}


.social_icos {
	margin-top:15px;	
}

.payment_methods {
	position: absolute;
	top: 55px;
	right: -4px;	
}

.social_likes {
	position: absolute;
	bottom: 17px;
	left: 239px;	
}

.developer_copyrights {
	position:absolute;
	bottom:6px;
	right:0px;
	font-size:11px;
	color:#2a333a;	
}

.developer_copyrights a {
	color:#ea3862;
	text-decoration:none;	
}
/* End Footer
--------------------------------------------------------------------------------------------------------*/


/* =Forms
--------------------------------------------------------------------------------------------------------*/

/* End Forms
--------------------------------------------------------------------------------------------------------*/

/* =Tables
--------------------------------------------------------------------------------------------------------*/

/* Making tables collapse and removing spacing */
table { 
  border-spacing: 0px;
  border-collapse:collapse;
}


/* Preparing table columns */
td {
  text-align: left;
  vertical-align:top;
}

/* End Tables
--------------------------------------------------------------------------------------------------------*/