@charset "utf-8";
/* =General
--------------------------------------------------------------------------------------------------------*/
* {  margin: 0; padding: 0; outline:0; font-size: 100%; vertical-align: baseline; background: transparent;}
h1, h2, h3, h4, h5, h6, p, pre, blockquote, form, fieldset, table, ul { margin: 0; }
.clear {clear: both;font-size:0; line-height:0;}
.hidden{display: none;}
img {border: 0;}
ol,ul,nav {	list-style:none;}
:focus {outline: 0;}

html{  min-height: 100% }

aside, nav, footer, header, section { display: block }

html{
    padding: 0;
    margin: 0;
    background: #c0c1c2;
}
body{
    min-height: 100%;
    margin: 0;
    padding: 0;   
}
.wrap{
    width: 940px;
    margin: 0 auto;
    padding: 0 20px;  
}
a:hover {
	text-decoration: none;
}
/* End General
--------------------------------------------------------------------------------------------------------*/        


/* =Fonts
--------------------------------------------------------------------------------------------------------*/
body { 
    font: 13px/13px Arial, sans-serif;
    color: #333;
}
/* End Fonts
--------------------------------------------------------------------------------------------------------*/ 


/* =Header
--------------------------------------------------------------------------------------------------------*/
#header{
    padding-top: 1px;
    *overflow: hidden;
}
/* logo and log-out */
#header #logo{
    float: left;
    width: 263px;
    height: 26px;
    margin: 20px 0 0 2px;
    display: inline-block;
    background: url(../img/logo.jpg) no-repeat;    
}
#header #log-out{
    float: right;
    margin: 28px 0 0;
    overflow: hidden;
    font-weight: bold;
    color: #333;
}
#header #log-out a{
    color: #666;
    margin-left: 10px;
    font-weight: normal;
}
/* =End Header
--------------------------------------------------------------------------------------------------------*/


/* =Middle
--------------------------------------------------------------------------------------------------------*/
#content{
    margin: 24px 0 0;
}
/* SEARCH */
#search{    
    *margin-top: -64px;    
}
#search ul{
    padding: 0; 
}
#search li{
    height: 68px;
    line-height: 68px;
    padding: 0 20px;
    vertical-align: middle;
    background: #eff0f1;
    border-bottom: 1px solid #d7d9da;
}
#search li *{
    display: inline-block;
    zoom: 1;
    *display: inline;
	vertical-align: baseline;
}
#search li > span{
    font-size: 12px;
    color: #989898;
	margin-right:8px;
}
#search li > a.check{
    width: 19px;
    height: 19px;
    margin: 0 6px;
    vertical-align: middle;
    background: url(../img/icons.png) no-repeat -20px -20px;    
}
#search li .dropdown {
	margin-right:10px;
}
#search .dropdown input {
	width: 190px;
}

/* search direction */

/* search options */
#search .options{
    font-size: 11px;
    color: #333;
    text-transform: uppercase;
}
*+html #search .options > span{
    margin-right: 9px;
}
#search .options span + a {
    margin-left: 4px;
}

/* search close button */
#search .close{
    width: 9px;
    height: 9px;
    *position: relative;
    *top: -3px;
    margin-left: 17px;
    background: url(../img/icons.png) no-repeat -20px 0;    
}
/* searh and add button */
#search .add{
    margin: 19px 0 0 0;
    *margin-top: -50px;
}
#search .add{
    min-width: 70px;
	float: right;  
}

/* CURRENCY */
#search > div{
    height: 70px;
    line-height: 70px;
    padding: 0 20px;    
    overflow: hidden;
    color: #FFF;
    font-size: 11px;
    text-transform: uppercase;
    vertical-align: middle;
    background: #323e46;
    border-bottom: 1px solid #3c474e;    
}
#search > div *{
    display: inline-block;
    zoom: 1;
    *display: inline;
}
#search > div > div{
    margin-right: 36px;
}
#search > div > .second{
    margin-right: 26px;
}
#search > div > .last a, #search > div > div:first-child a{
    text-transform: none;
} 
#search > div > div:first-child a{
    padding: 0 3px;
}
#search > div > div.last a, #search > div > div.second a{
    padding: 0 7px;
}
*+html #search > div > div > span{
    margin-right: 9px;
}

/* MAIN --------------------------------------------------- */
#main{
    position: relative;
    margin-top: 60px;
}
/* TABS */
#main .tabs{
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 100%;
    overflow: hidden;
}

/* FILTERS */
#main #filters{
    padding: 18px 20px 27px 20px;
    background: #FFF;
}
#main #filters h2{
    margin: 0;
    color: #333;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
#main #filters ul{
    margin: 18px 0 0 0;
}
#main #filters li{
    padding: 0;
    margin-bottom: 12px;
    width: 225px;
    float: left;
    list-style-type: none;
}
#main #filters label{
    color: #999;
    font-size: 13px;
    cursor: pointer;
}
#main #filters label b{
    color: #333;
    margin-right: 8px;
    text-transform: uppercase;
}

#main #filters > div{
    clear: both;
    height: 14px;
    line-height: 14px;
    padding-top: 8px;
    color: #333;
    vertical-align: middle;
}
#main #filters > div label{
    color: #333;
}
/* RESULT*/
#result{
    padding-bottom: 10px;
    background: #f5f5f6;    
}
/* result headings */
#result > ul#headings{
    overflow: hidden;
}
#result > ul#headings li{
    float: left;
    height: 31px;
    line-height: 31px;
    color: #989898;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    font-weight: normal;
    background: #fff;
    border-top: 1px solid #e3e4e4;        
    border-bottom: 1px solid #e3e4e4;   
}
#result .h-flight{
    width: 160px;
    padding-left: 51px;
}
#result .h-airport{
    width: 108px;
}
#result .h-departure{
    width: 50px;
    *text-align: right;
}
#result .h-duration{
    width: 63px;
}
#result .h-arrival{
    width: 65px;
    *text-align: right;    
}
#result .h-number{
    width: 54px;
    *text-align: right;    
}
#result .h-class{
    width: 51px;
    *text-align: right;    
}
#result .h-board{
    width: 42px;
    *text-align: right; 
}
#result .h-price{
    width: 296px;
}
/* result body */
#result > ul#results{
    clear: both;
}
#result > ul#results ul{
    padding: 0;
    margin: 0;
}
#result > ul#results ul li{
    padding: 10px 0 13px 0;
    vertical-align: middle;
    border-top: 1px solid #dbdcde;
	
}
#result > #results > .active{
    background: #e1f3fa;
}
#result > ul#results ul li:first-child{
    padding: 17px 0 6px 0;
    border-top: none;
}
#result > ul#results ul li > *{
    display: inline-block;
    vertical-align: middle;
    *display: inline;
    zoom: 1;    
}
#result > ul#results ul td{
    line-height: 22px;
}
#result ul#results > li{
    padding: 0px 20px;
    overflow: hidden;
    background: #f5f5f6;
    border-top: 1px solid #dbdcde;
}
#result ul#results > li:first-child{
    border-top: none;
}
#result ul#results > li > *{
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}
#result u{
    width: 12px;
    margin: 0 3px;
    padding-bottom: 3px;
    height: 7px;
    line-height: 13px;
    vertical-align: middle;
    display: inline-block;
    background: url(../img/icons.png) no-repeat 0 -40px;    
}
/* result flight */
#result .flight{
    width: 90px;
    font-size: 11px;
    color: #989898;
}
#result .flight h4{
    width: 60px;
    margin: 0 0 8px 0;
    padding: 2px 8px 2px 10px;
    color: #44cdff;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    background: #334450; 
    border-top: 1px solid #3e4e5a;   
    border-bottom: 1px solid #3e4e5a;   
}
#result .flight b{
    color: #FFF;
    margin-right: 5px;   
}
/* result flight-city */
#result .flight-city{
    width: 90px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
/* result airport */
#result .airport{
    color: #333;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    width: 110px;
}
#result .airport span{
    color: #989898;
    font-size: 11px;
    font-weight: normal;
	width:20px;   
	display: inline-block;
}
#result .airport .count-hidden{
    visibility: hidden;
}
/* result departure */
#result .departure{
    width: 45px;
    text-align: center;
    font-weight: bold;
    color: #008fc4;
}
/* result duration */
#result .duration{
    width: 55px;
    padding-left: 16px;
    text-align: left;
}
#result .duration span{
    font-variant: small-caps;    
}
/* result arrival */
#result .arrival{
    width: 43px;
    padding-left: 2px;
    text-align: center;
    font-weight: bold;
    color: #008fc4;
}
/* result number */
#result .number{
    width: 53px;
    text-align: right;
}
/* result class */
#result .class{
    width: 40px;
    padding-left: 13px;
    text-align: center;
    text-transform: uppercase;
}
/* result board */
#result .board{
    width: 35px;
    text-align: right;
    color: #989898;
    text-transform: uppercase;
}
/* result check */
#result .check{
    padding-left: 7px;
}
#result .check label{
    cursor: pointer;
    position: relative;    
}
#result .check label input{
    margin: 0;
    padding: 0;
	vertical-align: middle;
}
#result .check  input + span{
   	margin: 0 0 0 -14px;
   	top:0;
}
*+html #result .check  input + span {
	left:-15px;
}

/* result price */
#result .price{
    width: 132px;
    color: #666;
    text-align: right;
}
#result .price strong{
    margin-bottom: 3px;
    font-size: 26px;
    line-height: 26px;
    font-weight: bold;    
    display: block;
    color: #333;
}
#result .price a{
    display: block;
    color: #008fc4;
    font-weight: normal;
    font-size: 11px;
    margin-top: 7px;
}
/* result reservation */
#result .reservation{
    width: 115px;
    *width: 112px;
    text-align: right;
    padding-bottom: 10px;
}
#result .reservation a{
    display: block;
    margin-top: 6px;
	text-align: left;
    font-size: 10px;
    color: #989898; 
	width:110px;
	margin-left:10px;
	
}
#result .reservation .button{
    padding: 0 5px;
    font-size: 10px;
    color: #FFF;
    display: inline-block;
	margin-left:13px;
	width: auto;
}

/* Booking */
#booking {
	margin-top:60px;
	position: relative;
	
}
	#booking .tabs {
		position: absolute;left:0;
		bottom:100%;
	}

	#booking .controls {
		padding:20px 25px 19px;
	}
	
		#booking .controls .button{
			font-size:10px;
			margin-right: 15px;
			padding: 0 7px;
		}
	
/* Flight details */

		
.list h2 {
	text-transform: uppercase;
	color:#333;
	font: bold 12px Arial;
	padding:22px 20px 11px;
	background: #fff;
}

	.list .head{
		border:1px solid #e3e4e4;
		border-width: 1px 0;
		background:#fff;
		padding-left:20px;
		overflow: hidden;
	}
		.list .head li {
			height:31px;
			float: left;
			line-height:31px;
			font-size:10px;
			font-weight: normal;
			color:#989898;
			text-transform: uppercase;
			white-space: nowrap;
		}
	.list dl {
		background:#f5f5f6;
		border-bottom: 1px solid #e3e4e4;
		position: relative;
	
	}
		.list dd {
			border-top: 1px solid #e3e4e4;
		}
		
		.list dd:first-child {
			border: 0;
		}
		
			.list dd ul {
				zoom:1;
			}
			.list dd ul:after {
				clear: both;
				display: block;
				height:0;
				visibility: hidden;
				content:' ';
			}
				.list dd li {
					height:36px;
					line-height:36px;
					font-size:13px;
					color:#333;
					float: left;
				}
				

.fligth {
	border-top:1px solid #e3e4e4;
}
	
.fligth .code {	width: 101px; }
.fligth .type {	width: 40px; }
.fligth .quant { width: 60px; text-align: center;}
.fligth .tarif { width: 75px; text-align: right;}
.fligth .taxes { width: 85px; text-align: right;}
.fligth .price { width: 85px; padding-right: 10px; text-align: right;}
.fligth .commission { width: 100px; text-align: center;}
.fligth .agent_pay { width: 92px; text-align: right;}
.fligth .ca_pay { width: 138px; text-align: right;}
.fligth .total { width: 115px; text-align: right;}

.fligth .head li.agent_pay { width:136px; 	}
.fligth .head li.ca_pay { width:126px; 	}
.fligth .head li.total { width:83px; 	}

.fligth dd li.type {
	font-size:11px;
}		
.fligth dd li.quant,	
.fligth dd li.tarif,	
.fligth dd li.total	{
	
	font-weight: bold;
}
.fligth dd li.taxes,	
.fligth dd li.commission,	
.fligth dd li.price	{
	color:#989898;
}
		.fligth dd {
			margin-left: 120px;
		}
				
		.fligth dt {
			position: absolute;
			height: 100%;
			width: 115px;
			top:0;
			left:0;
			text-align: center;
			color:#333;
			font-size: 13px;
		}
		
		.fligth dt > b {
			font-size: 18px;
		}
		
		.fligth dt strong {
			display: inline-block;
			background:#334450;
			font-size:14px;
			color: #fff;
			margin: 36px 0 5px;
			padding:4px 8px 3px
			
		}
			.fligth dt strong b {
				color: #44cdff;
			}
			
p.total {
	background: #323e46;
	text-align: right;
	color: #fff;
	font-size: 15px;
	width: auto !important;
	padding: 11px 20px;
	
}
p.total strong {
	font-size: 18px;
}

/* Passengers details */
.passengers {
	padding: 10px 0 30px;
	background: white;
}

.passengers .type {	width:24px;}
.passengers .lastname {	width:100px;}
.passengers .firstname { width:100px;}
.passengers .gender { width:15px; text-align: center;}
.passengers .birthdate { width:65px;}
.passengers .extdate { width:65px;}
.passengers .doc { width:60px;}
.passengers .birthdate { width:65px;}
.passengers .tarif { width:52px;}
.passengers .recloc { width:37px;}
.passengers .ticket { width:85px;}
.passengers .place { width:47px; text-align: center;}
.passengers .control { width:32px; margin:0; text-align: right; padding:0}

.passengers dd {
	padding-left:19px;
}
.passengers dd.active {
	background:#e1f3fa;
}
.passengers .head li {
	margin-right:20px;
	white-space: nowrap;
	text-indent: 5px;
	position: relative;
}
.passengers dd li {
	margin-right:10px;
	font-size:11px;
	text-transform: uppercase;
	padding: 0 5px; 
	position: relative;
}

.passengers li.lastname,
.passengers li.firstname,
.passengers li.gender,
.passengers li.tarif { font-weight: bold;}

.passengers li.extdate,
.passengers li.birthdate { color:#989898;}

.passengers dd input {
	border: 1px solid #d3d3d3;
	width: 100%;
	font-size:10px;
	text-transform: uppercase;
	padding: 0 5px;
	height:28px;
	line-height:28px;
	color:#989898;
	width:100%;
	margin-left:-5px;
	vertical-align: baseline;
	background: #fff;
	
}
.passengers dd.active input {
	border-color:#b2c2cd;
	color:#333;
	font-weight: bold;
	font-size:11px;
}

.passengers .gender input{ text-align: center;}

.passengers dd .invalid input {
	background:#ffeded;
	border:1px solid #fdbbbb;
	color:#cf2020;
	font-size:10px;
	font-weight: normal;
}
.passengers .error {
	color:#fff;
	background:#ee5f5f;
	position: absolute;
	top:42px;
	left: -3px;
	z-index:10;
	font-size:11px;
	white-space: nowrap;
	text-transform: none;
	padding: 0 5px;
	line-height:20px;
	display:none;
}
.passengers .error_dec {
	background: url(../img/icons.png) -40px -15px;
	position: absolute;
	top: 37px;
	left:50%;
	margin-left:-3px;
	height:5px;
	width:10px;
	z-index:10;
	display:none;
}
.passengers .invalid .error, .passengers .invalid .error_dec {
	display:block;
}
.passengers li .edit, .passengers li .delete {
	height:13px;
	width:10px;
	display: inline-block;
	vertical-align: middle;
	background: url(../img/icons.png) no-repeat -60px -25px;
	
}

.passengers li .delete {
	background-position:-80px -25px;
	margin-left: 7px;
}
.passengers .active .edit{
	background-position:-60px -40px;
}
.passengers .active .delete{
	background-position:-80px -40px;
}

.loader {
	display: inline-block;
	height:18px;
	width:18px;
	background: url(../img/icons.png) no-repeat -53px 0;
	vertical-align: middle;
}

.passengers dd.active.loading input {
	color:#8796a1;
	background:#edf7fb;
}
.passengers dd.active.loading .recloc {
	text-align: center;
}

.passengers .place .button {
	margin-left:-12px;
	min-width:60px;
}

/* Table */
*+html #tables {
	overflow: hidden;
}

#tables .search {
	padding:5px 20px 14px;
	line-height: 41px;
	font-size:13px;
	color:#333;
}
.search {
	position: relative;
}
.search [name="city"] {
	width: 191px;
	margin-right: 6px;
}
.search .date {
	margin:0 3px;
}
.search select {
	margin: 0 19px 0 5px;
	width: 242px;
}
.search input[type="checkbox"] + span {
	margin-right:1px;
}
.search label {
	margin-right:25px;
}
.search .button {
	position: absolute;
	bottom: 19px;
	right: 26px;
	min-width: 70px;
}
.flights .controls{
	background: #fff;
	padding: 31px 15px 11px;
}
.flights .controls .button {
	text-transform: none;
}
u.delete {
	display: inline-block;
	height:13px;
	width:10px;
	background:url(../img/icons.png) -80px -55px;
	vertical-align: text-top;
	margin-right:5px;
}
.active u.delete {
	background-position: -80px -25px
}
u.edit {
	display: inline-block;
	height:13px;
	width:10px;
	background:url(../img/icons.png) -60px -55px;
	vertical-align: text-top;
	margin-right:5px;
}
.active u.edit {
	background-position: -60px -25px
}
u.checking {
	display: inline-block;
	height:15px;
	width:15px;
	background:url(../img/icons.png) -20px -50px;
	vertical-align: text-top;
	cursor: pointer;
}
.flights .check {width:35px;}
.flights .when {width:175px;}
.flights .from {width:175px;}
.flights .to {width:185px;}
.flights .price {width:160px; text-align: center;}
.flights .per_km {width:150px;text-align: right; text-indent:0}

.flights .head {
	padding:0;
	text-indent:20px;
}
.flights .head .filter {
	color:#333;
}
.flights .head .active {
	color:#008fc4;
}
.flights dl li {
	text-indent:20px;
}
.flights dl li.check span {
	margin-left:1px;
}
.flights dl li.price {
	font-weight: bold;
}
.list .head li.per_km {
	position: relative;
	left:12px;
}

.flights .per_km a {
	font-size:11px;
	color:#008fc4;
	margin-left:3px;
	
}
.flights .per_km a:hover{
	text-decoration: none;
}
u.filter {
	height:3px;
	width:5px;
	background:url(../img/icons.png) -20px -70px;
	vertical-align: baseline;
	display: inline-block;
	position: relative;
	top:-2px;
	margin-left:3px;
}
u.filter .up {
	background-position: -26px -70px;
}
.active u.filter {
	background-position: -26px -75px;
}
.active u.filter .up {
	background-position: -26px -75px;
}
.flights dd:nth-child(even) {
	background:#fff;
}
.flights dd li.colactive {
	background:#d2e9f3;
}
.flights dd:nth-child(even) li.colactive {
	background:#daf2fa;
}
.flights dd li.active, .flights dd:nth-child(even) li.active {
	background:#aedbed;
}
.flights p.total {
	padding-right:60px;
}

.flights.details{
	padding-bottom:32px;
}
.flights.details .controls {
	padding-top: 40px;
}
.flights.details li {
	text-indent:8px;
}

.flights.details .check {text-indent:20px;}
.flights.details .trip {width: 40px; padding-left:9px; }
.details .date {width: 62px;}
.details .from {width: 53px;}
.details .to {width: 50px;}
.details .time_from {width: 50px;}
.details .time_to {width: 57px;}
.details .interval {width: 74px;}
.details .price {width: 74px;}
.details .coef {width: 60px;}
.details .pales {width: 55px;}
.details .numb {width: 58px;}
.details .totals {width: 85px;}
.details .per_km {width: 114px;}
.details .tarif {width: 45px;}


.details .trip, 
.details .time_from, 
.details .time_to, 
.details .per_km, 
.details .interval {
	text-align: center;
	text-indent:0px;
}

.details .price, 
.details .coef, 
.details .numb, 
.details .totals {
	text-align: right;
	text-indent:0px;
}

.details .trip, 
.details .from, 
.details .to, 
.details .time_from, 
.details .time_to, 
.details .totals, 
.details .price {
	font-weight: bold;
}

.details .time_from, 
.details .time_to {
	color:#008fc4;
}
.details dd a {
	color:#008fc4;
}
.details dd a:hover {
	text-decoration: none;
}
.details .head .per_km {
	text-indent:-15px
}
.details dd.active {
	background:#daf2fa;
}
/* End Middle
--------------------------------------------------------------------------------------------------------*/


/* =Footer
--------------------------------------------------------------------------------------------------------*/
#footer{
    margin-top: 30px;
    position: relative;
    padding: 0 0 50px 0;
}
#footer p{
    color: #595959;
    font-size: 11px;
    font-weight: normal;
    margin: 0;
}
#footer p.footer-last{
    position: absolute;
    top: -2px;
    right: 0;    
}
#footer p.footer-last strong{
    color: #FFF;
    padding: 3px 3px;
    display: inline-block;
    background: #334450;
    text-transform: uppercase;
}
/* End Footer
--------------------------------------------------------------------------------------------------------*/

/* Content Style
--------------------------------------------------------------------------------------------------------*/

/* Forms Elements ---------------------------------------------------*/
input[type="text"] {
	height:28px;
	border:1px solid #d5d5d5;
	vertical-align: middle;
	background:#fff;
	color:#666;
	font-size:16px;
	line-height:28px;
	padding:0 10px;
}

input[type="radio"] {
    opacity:0;
    margin: 0;
    padding: 0;
	vertical-align: middle;
}
*+html input[type="radio"] {
	filter:alpha(opacity=0);
}
input[type="radio"] + span {
    width: 14px;
    height: 14px;
    margin: 0 4px 0 -14px;
    display: inline-block;
    vertical-align: middle;
    background: url(../img/icons.png) no-repeat;
	position: relative;
	top:-2px;
}
input[type="radio"]:checked + span{
    background-position: 0 -20px;
}
input[type="radio"].checked + span{
    background-position: 0 -20px;
}

input[type="checkbox"] {
    opacity:0;
    margin: 0;
    padding: 0;
	vertical-align: middle;
	position: absolute;
}
*+html input[type="checkbox"] {
	filter:alpha(opacity=0);
}
input[type="checkbox"] + span {
    width: 14px;
    height: 14px;
    margin: 0 4px 0 -14px;
    display: inline-block;
    vertical-align: middle;
    background: url(../img/icons.png) no-repeat 0 -50px;
	position: relative;
	top:-2px;
}
input[type="checkbox"]:checked + span{
    background-position: 0 -65px;
}
input[type="checkbox"].checked + span{
    background-position: 0 -65px;
}

input.date{
    width: 70px;
	line-height:28px;
    font-size: 13px;
    padding: 0 13px 0 30px;
    background: #FFF url(../img/icons.png) no-repeat -75px 4px;
}

select {
	border:1px solid #d5d5d5;
	height:30px;
	line-height:28px;
	color:#666;
	font-size:12px;
	text-transform: uppercase;
}

/* Buttons (links) --------------------------------------------------*/

/* Blocks */
.block {
	background:#eff0f1;
	box-shadow: 0 0 3px 2px #A6A7A8;
	-webkit-box-shadow: 0 0 3px 2px #A6A7A8;
	-o-box-shadow: 0 0 3px 2px #a6a7a8;
	-moz-box-shadow: 0 0 3px 2px #a6a7a8;
	-ms-box-shadow: 0 0 3px 2px #a6a7a8;
}

.block h1 {
	font-size:12px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 28px 20px 6px;
}

/* Button */
.button {
	height: 30px;
	line-height: 30px;
	padding: 0 15px;
	position: relative;
	color: white;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	background: url(../img/bgs.png) repeat-x 0 -335px;
	display: inline-block;
	color:#fff !important;
	cursor: pointer;
}

	.button span {
		height: 100%;
		margin: 0 !important;
		padding: 0 !important;
		position: absolute;
		width: 5px;
		right: 100%;
		top: 0;
		background: url(../img/bgs.png) 0 -300px;
	}

	.button span ~ span {
		left: 100%;
		background-position: 0 -370px;
	}

.button.active {
	background-position: 0 -785px;
	color:#333 !important;
}

	.button.active span {
		background-position: 0 -750px;
	}
	
	.button.active span ~ span {
		background-position: 0 -820px;
	}

.button.blue {
	background-position: 0 -440px;
}
.button.blue span {
	background-position: 0 -405px;
}
.button.blue span ~ span {
	background-position: 0 -475px;
}
/* Button Small */
.button.small {
	height: 21px;
	line-height: 21px;
	padding: 0 6px;
	margin-left: 8px;
	font-size: 11px;
	background-position: 0 -25px;
}
.button.small span{
    width: 3px;
	background-position: 0 0;
}
.button.small span ~ span{   
    left: 100%;    
    background-position: -2px -50px;    
}
.button.small.active {
	color: #666;
   	background-position: 0 -100px;   
}

.button.small.active span {
	background-position: 0 -75px;
}

.button.small.active span ~ span{
    background-position: -2px -125px;
}
/* Alt Button Small */
.button.smallalt {
	height:23px;
	line-height: 23px;
	background-position:0 -175px;
	margin-left: 11px;
	padding:0 5px;
	font-size:11px;
	
}
.button.smallalt span {
	width:5px;
	background-position:0 -150px;
}
.button.smallalt span ~ span {
	width:5px;
	background-position:0 -200px;
}
.button.smallalt.active {
	height:21px;
	line-height:21px;
	background-position:0 -250px;
	color:#666 !important;
}
.button.smallalt.active span{
	background-position:0 -225px;
}
.button.smallalt.active span ~ span{
	background-position:0 -275px;
}

/* Tabs ---------------------*/
*+html .tabs{
	zoom:1;
}
.tabs:after {
	display: block;
	content:' ';
	clear: both;
	height:0;
}
.tabs li {
	height: 30px;
	float: left;
	line-height:30px;
	background: url(../img/bgs.png) repeat-x 0 -545px;  
	margin:0 6px 0 5px;
	position: relative;  
	font-size: 13px;
}
.tabs li > span {
	position: absolute;
	height: 100%;
	top:0;
	right:100%;
	width:5px;
	background: url(../img/bgs.png) repeat-x 0 -510px;
}
.tabs li > span ~ span {
	background-position:0 -580px;
	left:100%;
}
.tabs li a {
	color: #bbbbbb;
	text-transform: uppercase;
    text-decoration: none;
	display: inline-block;
	height: inherit;
	padding: 0 30px 0 14px;
}
.tabs li a b {
	color: #FFF;
	font-size: 14px;
    margin-right: 8px;
}
.tabs li a u{
    width: 16px;
    margin: 0 1px;
	display: inline-block;
    height: 9px;
    background: url(../img/icons.png) no-repeat -20px -40px;    
	vertical-align: middle;
}
.tabs li.active {
	background-position:0 -650px; 
}
.tabs li.active > span {
	background-position:0 -615px; 
}
.tabs li.active > span ~ span {
	background-position:0 -685px;
}
.tabs li.active a {
	color:#fff;
}
.tabs li.active a u {
	background-position:-40px -40px;  
}
.tabs li .close{
    width: 9px;
    height: 9px;
    position: absolute;
    top: 10px;
    right: 8px;
    z-index: 1;
    cursor: pointer;
    background: url(../img/icons.png) no-repeat -40px 0;
}

/* DropDown */
.dropdown {    
    color: #666;
    font-size: 16px;
   	position: relative;    
}
.dropdown input {
	top:1px;
	position: relative;
}
.dropdown i {
	position: absolute;
	left:10px;
	font-style: normal;
	top:1px;
}
.dropdown b{
    color: #333;
}

.dropdown span{
    position: absolute;
    right: 12px;
    top: 1px;
    font-size: 11px;
    padding-top: 1px;
    color: #999999;
    text-transform: uppercase;
}


/* end Content Style
--------------------------------------------------------------------------------------------------------*/

/* Pop-Up
--------------------------------------------------------------------------------------------------------*/
     
        /* Overlay and window general*/
#overlay {
    min-width: 100%;
    min-height: 100%;
    color: #333;
    background: url(../img/pop-up.png);
    position: fixed;
    top: 0;
    z-index: 10;
}
.window {
    width: 666px;
    margin: 0 auto;
    padding-bottom: 1px;
    position: absolute;
    left: 50%;
    margin-left: -333px;
    top: 200px;
    z-index: 11;
    background: #fff;
}
.window h2{
    height: 29px;
    line-height: 29px;
    vertical-align: middle;
    padding-left: 20px;
    margin: 0;
    position: relative;
    color: #FFF;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    background: url(../img/pop-up-head.png) repeat-x 0 0;    
}
.window .close{
    width: 9px;
    height: 9px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: inline-block;
    background: url(../img/icons.png) no-repeat -40px 0;
}
.window h2 u {
	width: 16px;
	margin: 0 1px;
	height: 9px;
	background: url(../img/icons.png) no-repeat -40px -40px;
	display: inline-block;
}
.window a{
    color: #008fc4;    
}
.window span{
    color: #989898;    
}

.alert {
	position: absolute;
	background:#fcf6da;
	font-size:13px;
	line-height:18px;
	color:#333;
	z-index:100;
	width:360px;
	left:50%;
	margin-left:-180px;
	padding-bottom:15px;
	box-shadow:rgba(0,0,0, 0.3) 0 0 8px;
}
.alert.error {
	background:#f9e7e7;
}
.alert.saccess {
	background:#e9f8e0;
}
.alert h2 {
	background:#e7be00;
	height:30px;
	line-height:30px;
	text-transform: uppercase;
	font-size:14px;
	position: relative;
	color:#fff;
	font-weight: normal;
	padding:0 20px;
}
.alert.error h2 {
	background:#be442c;
}
.alert.saccess h2 {
	background:#2e7600;
}
.alert .close {
	position: absolute; 
	top: 10px;
	right:10px;
	height:9px;
	width: 9px;
	cursor: pointer;
	background:url(../img/icons.png) -40px 0;
}
.alert p {
	padding:15px 20px 0;
	
}
.alert p a {
	color:#008fc4;
}
/* window prices */
.window-prices{
    width: 100%;    
    margin-bottom: 20px;
    border-collapse: collapse;
    text-transform: uppercase;    
}
.window-prices th{
    height: 28px;
    text-align: right;
    font-size: 14px;
    color: #bababa;
    vertical-align: middle;
    background: #334450;
}
.window-prices th b{
    margin-left: 4px;
}
.window-prices th b.window-th-blue{
    color: #44cdff;
}
.window-prices tbody tr{
    background: #FFF;
    border-bottom: 1px solid #e3e4e4;
}
.window-prices th:first-child{
    width: 175px;
} 
.window-prices .window-prices-last{
    padding-right: 20px;
} 
.window-prices tr td:first-child{
    color: #989898;
    font-size: 10px; 
    text-align: left; 
    padding-left: 20px;
	font-weight: normal;  
}
.window-prices tr:last-child td{
    color: #989898;    
    font-weight: normal;
}
.window-prices td{
    height: 31px;
    color: #333;
    font-size: 13px;
    font-weight: bold;
    text-align: right;
    vertical-align: middle;
}
.window-prices td span{
    color: #989898;
    margin-right: 4px;
    font-weight: normal;
}
/* window expand */
.window-expand{
    padding-left: 20px;
    margin-bottom: 15px;
    font-size: 11px;
}
.window-expand a{
    margin-left: 9px;
}
/* window log */
.window-log{
   margin-bottom: 35px; 
}
.window-log table{
    width: 100%;    
    font-size: 13px;
    margin-top: 34px;
    border-collapse: collapse;    
}
.window-log thead th{
    padding:10px 0 8px;
    color: #989898;
    font-size: 10px;
    font-weight: normal;
    text-align: left;
    text-transform: uppercase;
    border-bottom: 1px solid #e3e4e4;
}
.window-log thead th:first-child{
    padding-left: 20px;
    width: 200px;
}
.window-log td{
    height: 24px;
}
.window-log td:first-child{
    padding-left: 20px;
    width: 200px;
    color: #989898;
}
.window-log td.pop-up-log-first{
    padding-top: 18px;    
}
.window-log td a{
    margin-right: 4px;
}
.window-log > p{
    color: #333;
    font-size: 11px;
    line-height: 14px;
    padding: 8px 20px 0px 20px;
    *padding-top: 10px;
}
.window-log > p a{
    display: block;
    margin-top: 9px;
    text-align: right;
}
/* pop-up result */
.window-result{
    margin-bottom: 20px;
    padding: 3px 20px 10px;
    font-size: 13px;
    line-height: 13px;
    position: relative;
}
.window-result p{
    line-height: 12px;
    margin: 0 0 7px 0;
    padding-right: 160px;
}
.window-result a{
    margin: 0 4px;
}
.window-result .search-add{
    display: block;
    color: #FFF;
    font-size: 10px;
    padding: 0 8px;
    margin: 0;    
    position: absolute;
    top: 3px;
    right: 25px;
    float: none;   
}

/* search_mode popup */
#search_mode {
	width:358px;
	margin-left: -179px; 
	line-height: 27px;
	color:#333;
	
}
#search_mode div {
	padding: 15px 20px 20px;
}

#search_mode label {
	
}
#search_mode .button{
	margin:10px 0 0 100px
}

/* end search_mode popup */

/* End Pop-Up
--------------------------------------------------------------------------------------------------------*/